*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: rgb(13, 12, 12);
}
#container{
    background-color: rgb(13, 12, 12);
    color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 0.3rem;
    width: 100vw;
    align-items: center;
}
#container input{
    border: none;
    width: 18rem;
    padding: 1rem;
    background-color: rgb(13, 12, 12);
    color: #fff;
    text-align: right;
    font-size: 2rem;
}
#container input:focus{
   outline: none;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}
p{
    font-size: 2rem;
}
p:hover{
    cursor: pointer;
    color: rgb(253, 84, 23);
}
#equalto{
    background-color: rgb(253, 84, 23);
    padding: 0.8rem 1.4rem;
    border-radius: 10rem;
}
#equalto:hover{
    color: rgb(22, 21, 21);
    font-weight: 700;
}
.operator{
    font-size: 3rem;
    padding: 0.8rem 0.8rem;
    color: rgb(253, 84, 23);
}
#upperOperator{
    color: rgb(253, 84, 23);
    font-size: 1.6rem;
}
hr{
    width: 20rem;
    font-weight: 10;
    font-size: 1px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    bottom: 1rem; */
    margin-top: 5rem;
}
span{
    color: rgb(74, 118, 250);
}
#power, #multiply, #divide{
    font-size: 2rem;
}
#item4{
    column-gap: 3rem;
}
#item1{
    column-gap: 3.5rem;
}

@media screen and (max-width:500px){
    html{
        font-size: 90%;
    }
}