*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
.bar{
    display: none;
}
html{
    font-size: 62.5%;
    /* background-color: #c2d5d9; */
    background-color: #b578ff;
}
main{
    background-image: url("./assets/bgimg.jpg");
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem;
}
nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: #b578ff;
    height: 6rem;
    z-index: 2;
}
nav h1{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 4rem;
    /* color: rgb(130, 9, 236); */
    color: red;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 2rem;
    /* color: rgb(130, 9, 236); */
    color: black;
    font-weight: 550;
}
nav ul{
    /* border: 1px solid red; */
    display: flex;
    width: 65%;
    justify-content: space-around;
    align-items: center;
}
span{
    /* color: #6674cc; */
    color: white;
}
main P{
    font-size: 6rem;
    /* color: rgb(130, 9, 236); */
    /* color: black; */
    color: royalblue;
    text-align: center;
}
main .button{
    display: flex;
    justify-content: center;
    align-items: center;
}
main .button button{
    padding: 1.3rem 6.6rem;
    /* background-color: rgb(210, 210, 3); */
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 2rem;
}
section .box{
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
    background-color: white;
    box-shadow: 0 0 1rem black;
    border-radius: 8px;
}
section .box .heading{
    font-size: 3rem;
    font-weight: 600;
}
section .box .para{
    font-size: 1.7rem;
    font-weight: 550;
    color: grey;
}
section .box img{
    height: 5rem;
    width: 5rem;
}
section{
    display: flex;
    justify-content: space-around;
    /* padding: 0 5rem; */
    position: relative;
    bottom: 10rem;
    column-gap: 2rem;
    margin: 0 2rem;
}
section .box .button button{
    padding: 5% 12%;
    font-size: 2rem;
    background-color: royalblue;
    color: white;
    border: none;
}
section .box .button{
    height: 20%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-content: center;
}
footer{
    text-align: center;
}
footer p{
    font-size: 1.8rem;
}
@media screen and (max-width:650px){
    html{
        font-size: 50%;
    }
    section{
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        margin: 0 5rem;
    }
    nav h1{
        margin-left: 2rem;
    }
}
@media screen and (max-width:500px){
    html{
        font-size: 50%;
    }
    .bar{
        display: block;
        position: relative;
        top: 1.2rem;
        right: 2rem;
    }
    .bar a i{
        font-size: 3rem;
        color: white;
    }
    section{
        display: flex;
        flex-direction: column;
        row-gap: 5rem;
        margin: 0 5rem;
    }
    nav ul{
        display: none;
    }
    nav h1{
        margin-left: 4rem;
    }
    main{
        height: 70vh;
    }
}