@media screen and (min-width:425px){
    *{
        margin: 0;
        padding: 0;
        overflow: hidden;
        box-sizing: border-box;
    }
    html{
        font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 62.5%;
        width: 100%;
    }
    .nav ul li{
        list-style: none;
    }
    .nav1 ul li a{
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.5rem;
        height: 3rem;
        /* border: 1px solid red; */
        text-decoration: none;
        font-size: 1.8rem;
        color: black;
        cursor: pointer;
        font-weight: 490;
    }
    .nav1 ul li a:hover{
        text-decoration: underline;
        font-weight: 500;
        text-decoration-color: rgb(126 34 206);
        text-decoration-thickness: 1rem;
    }
    .nav1 .name a{
        font-size: 2rem;
        color: rgb(126 34 206);
        margin-left: 2.5rem;
        text-decoration: none;
        font-weight: 700;
    }
    .nav1{
        margin-bottom: 10px;
        /* border: 1px solid red; */
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* margin-left: 2.5rem; */
        height: 10vh;
        align-items: center;
        box-shadow: 0 0 1rem black;
        /* border-radius: 10px; */
    }
    ul{
        display: flex;
        column-gap: 3rem;
        /* border: 1px solid green; */
        margin-left: 40rem;
    }
    .nav1 .button{
        height: 4.4rem;
        width: 10rem;
        /* border: 1px solid red; */
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 2rem;
    }
    .nav1 button{
        padding: 0.9rem 1.5rem;
        font-size: 1.6rem;
        background-color: rgb(126 34 206);
        border-radius: 0.5rem;
        border: none;
        color: aliceblue;
    }
    .nav1 button:hover{
        background-color:aliceblue;
        border: 1px solid rgb(126 34 206);
        color: rgb(126 34 206);;
        cursor: pointer;
    }
    .nav2 ul{
        display: flex;
        width: 95%;
        float: right;
        column-gap: 2rem;
    }
    .nav2 ul li{
        list-style: none;
    }
    .nav2 ul li a{
        text-decoration: none;
        font-size: 2rem;
    }
    .nav2 ul li a:hover{
        text-decoration: underline;
        text-decoration-color:rgb(126 34 206) ;
        cursor: pointer;
    }
}




@media screen and ( max-width: 425px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
    html{
        font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 45%;
    }
    body{
        width: 100%;
    }
    .nav1{
        /* border: 1px solid red; */
        height: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 2rem;
        box-shadow: 0 0 1rem black;
    }
    .nav ul li{
        list-style: none;
    }
    .nav1 ul li a{
        text-decoration: none;
        font-size: 2.6rem;
        color: black;
        cursor: pointer;
        font-weight: 490;
    }
    .nav1 ul li a:hover{
        text-decoration: none;
        font-weight: 500;
        text-decoration-thickness: 1rem;
        cursor: pointer;
    }
    ul{
        display: flex;
        width: 100%;
        column-gap: 1.2rem;
        margin-left: 1rem;
    }
    .nav1 .name a{
        font-size: 3.2rem;
        text-decoration: none;
        font-weight: 600;
    }
    .nav1 .button{
        display: none;
    }
    .nav2 ul{
        display: flex;
        width: 95%;
        float: right;
        column-gap: 2rem;
    }
    .nav2 ul li{
        list-style: none;
    }
    .nav2 ul li a{
        text-decoration: none;
        font-size: 2rem;
    }
    .nav2 ul li a:hover{
        text-decoration: underline;
        text-decoration-color:rgb(126 34 206) ;
        cursor: pointer;
    }
}